<h1>My Movie Lists</h1>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= link_to list.name, list_path(list) %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Create a New List", new_list_path, class: "btn btn-primary mb-3" %>
